/* Menu burger */
.navIcon {
  z-index: 20;
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
}

.hamburgerIcon {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.bar,
.hamburgerIcon:after,
.hamburgerIcon:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--darkRed);
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburgerIconIsActive {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburgerIconIsActive:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--darkRed);
  margin: 6px 0px;
  transform: rotate(-45deg) translate(-9px, 6px);
}

.barIsActive {
  opacity: 0;
}

.hamburgerIconIsActive:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--darkRed);
  margin: 6px 0px;
  transform: rotate(45deg) translate(-9px, -6px);
}

.navList {
  display: none;
}

.navListIsActive {
  z-index: 10;
  position: absolute;
  display: initial;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
  background-color: rgba(240, 240, 240, 0.9);
}

.navListIsActive ul {
  list-style-type: none;
}

/* Filter buttons */
.switchTypeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
}

.buttonSelectType {
  padding: 0.3rem 0.6rem;
  margin: 0 0.25rem;
  background-color: var(--white);
  color: var(--darkRed);
  width: 5rem;
  border: 1px solid var(--mediumGrey);
  font-size: 0.6rem;
  font-weight: 790;
  border-radius: 0.5rem;
  cursor: pointer;
}

.buttonSelectType:active {
  border: 1px solid var(--darkRed);
}

.buttonSelectTypeEnabled {
  padding: 0.3rem 0.6rem;
  margin: 0 0.25rem;
  background-color: var(--darkRed);
  color: var(--white);
  width: 5rem;
  border: 1px solid var(--mediumGrey);
  font-size: 0.6rem;
  font-weight: 790;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Menu Burger */
.menuBurger {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background-color: var(--lowGrey);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.burgerIcon {
  position: absolute;
  top: 125px;
  left: 60px;
  width: 23px;
  height: 2.5px;
  border-radius: 1px;
  background-color: var(--darkRed);
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.burgerIcon:after,
label .burgerIcon:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  background-color: var(--darkRed);
}

.burgerIcon:before {
  top: -10px;
}

.burgerIcon:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menuBurger {
  box-shadow: 0 0 0 100vh rgb(240, 240, 240);
}

label input:checked + .menuBurger .burgerIcon {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menuBurger .burgerIcon:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menuBurger .burgerIcon:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menuBurger + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
  list-style-type: none;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: var(--darkRed);
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .buttonSelectType {
    padding: 0.5rem 0.8rem;
    margin: 0 0.25rem;
    width: 6rem;
    font-size: 0.69rem;
    cursor: pointer;
  }

  .buttonSelectType:hover {
    border: 1px solid var(--darkRed);
  }

  .buttonSelectTypeEnabled {
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    width: 6rem;
    font-size: 0.69rem;
    cursor: pointer;
  }
}
