.switchTypeContainer {
  display: flex;
  justify-content: center;
}
.buttonSelectType {
  padding: 0.3rem 0.6rem;
  margin: 0 0.25rem;
  background-color: var(--white);
  color: var(--darkRed);
  width: 5rem;
  border: 1px solid var(--mediumGrey);
  font-size: 0.6rem;
  font-weight: 790;
  border-radius: 0.5rem;
  cursor: pointer;
}

.buttonSelectType:active {
  border: 1px solid var(--darkRed);
}

.buttonSelectTypeEnabled {
  padding: 0.3rem 0.6rem;
  margin: 0 0.25rem;
  background-color: var(--darkRed);
  color: var(--white);
  width: 5rem;
  border: 1px solid var(--mediumGrey);
  font-size: 0.6rem;
  font-weight: 790;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .buttonSelectType {
    padding: 0.3rem 0.8rem;
    margin: 0 0.25rem;
    width: 6rem;
    font-size: 0.7rem;
    cursor: pointer;
  }

  .buttonSelectType:hover {
    border: 1px solid var(--darkRed);
  }

  .buttonSelectTypeEnabled {
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    width: 6rem;
    font-size: 0.7rem;
    cursor: pointer;
  }
}
