.searchFilterBar {
  display: flex;
  justify-content: space-around;
}
.buttonSearchFilter {
  font-size: 0.7rem;
  font-weight: 750;
  box-shadow: 0px 2px 6px gray;
  cursor: pointer;
}
.buttonMenu {
}
.controlMenu {
}
.placeholderMenu {
  color: #c20114;
}
.arrowMenu {
}
