.movieCardPage {
  height: fit-content;
}

.mobileMovieCard {
  height: 77vh;
  padding: 1.8rem 1.5rem;
}

.desktopMovieCard {
  display: none;
}

.containerMovieCard {
  padding: 1.5rem 1.2rem;
  background-color: rgba(246, 246, 246, 0.85);
  border-radius: 0.8rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px var(--darkGrey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 460px;
}

.movieTitle {
  color: var(--darkRed);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.movieGenres {
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0.25rem;
  color: var(--darkGrey);
}

.movieCredits {
  font-size: 0.8rem;
  margin: 0.25rem 0;
  color: var(--darkGrey);
}

.movieCredits > h3:first-of-type {
  margin-bottom: 0.25rem;
}

.movieFeatures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoPlatform {
  height: 45px;
  width: 45px;
  border: 1px solid var(--mediumGrey);
  border-radius: 0.5rem;
  margin: 0.2rem 0.5rem 0.2rem 0;
  cursor: pointer;
}

.buttonTrailer {
  background-color: var(--white);
  border: 1px solid var(--mediumGrey);
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
}

.buttonTrailer > a {
  color: var(--darkRed);
}

.containerSynopsis {
  overflow: scroll;
  scrollbar-width: none;
}

.titleSynopsis {
  color: var(--darkRed);
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.movieSynopsis {
  color: var(--darkGrey);
  text-justify: inter-word;
  font-size: 1rem;
  max-height: 12.8rem;
  overflow: scroll;
  scrollbar-width: none;
}

@media screen and (min-width: 1024px) {
  .mobileMovieCard {
    display: none;
  }

  .desktopMovieCard {
    height: 65vh;
    margin: 0.5rem 6rem 2rem;
    background-color: rgba(246, 246, 246, 0.85);
    border-radius: 0.8rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px var(--darkGrey);
    display: flex;
    overflow: hidden;
  }

  .moviePoster {
    height: 100%;
    box-shadow: 0px 0px 5px var(--darkGrey);
    z-index: 1;
  }

  .containerMovieCard {
    padding: 4rem 3rem;
    border-radius: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .movieTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
  }

  .movieGenres {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .movieCredits {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .movieCredits > h3:first-of-type {
    margin-bottom: 0.25rem;
  }

  .reverseCard {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }

  .movieFeatures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logoPlatform {
    height: 55px;
    width: 55px;
    margin: 0.2rem 0.75rem 0 0;
  }

  .buttonTrailer {
    font-size: 0.8rem;
  }

  .titleSynopsis {
    font-size: 1.4rem;
    margin: 0.5rem 0;
  }

  .movieSynopsis {
    line-height: 1.3;
    margin-bottom: 3rem;
    max-height: 8rem;
    overflow: scroll;
    scrollbar-width: none;
  }
}
