* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --white: rgb(248, 248, 248);
  --lowGrey: rgb(240, 240, 240);
  --lightGrey: rgb(230, 230, 230);
  --mediumGrey: rgb(190, 190, 190);
  --darkGrey: rgb(130, 130, 130);
  --darkRed: rgb(194, 1, 20);
}

body {
  background-color: var(--lowGrey);
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Header */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-pic {
  height: 2rem;
  margin: 2rem auto 0.5rem;
}

/* Search Page */
.results-number {
  text-align: center;
  margin: 0.5rem;
  color: var(--darkGrey);
  font-style: italic;
}

/* Top Rated button */
.button-top-rated {
  padding: 0.3rem 0.6rem;
  margin: 0.5rem;
  background-color: var(--white);
  color: var(--darkRed);
  width: 5rem;
  border: 1px solid var(--mediumGrey);
  font-size: 0.6rem;
  font-weight: 790;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button-top-rated:active {
  border: 1px solid var(--darkRed);
}

.button-top-rated-enabled {
  padding: 0.3rem 0.6rem;
  margin: 0.5rem;
  background-color: var(--darkRed);
  color: var(--white);
  width: 5rem;
  border: 1px solid var(--mediumGrey);
  font-size: 0.6rem;
  font-weight: 790;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Not found / No results Page */
.not-found-container,
.no-results-container {
  margin-top: 4rem;
  text-align: center;
}

.not-found-container > h3,
.no-results-container > h3 {
  margin-bottom: 1rem;
  color: var(--darkRed);
}

.not-found-container > img,
.no-results-container > img {
  width: 80%;
}

.not-found-container > p,
.no-results-container > p {
  margin-top: 1rem;
  font-style: italic;
}

/* Menu Burger */
.menu-burger {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background-color: var(--lowGrey);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.burger-icon {
  position: absolute;
  top: 125px;
  left: 60px;
  width: 23px;
  height: 2.5px;
  border-radius: 1px;
  background-color: var(--darkRed);
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.burger-icon:after,
label .burger-icon:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  background-color: var(--darkRed);
}

.burger-icon:before {
  top: -10px;
}

.burger-icon:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu-burger {
  box-shadow: 0 0 0 100vh rgb(240, 240, 240);
}

label input:checked + .menu-burger .burger-icon {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu-burger .burger-icon:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu-burger .burger-icon:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu-burger + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
  list-style-type: none;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: var(--darkRed);
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .logo-pic {
    height: 3rem;
    margin: 3.5rem auto 2rem;
  }

  .results-number {
    margin: 1rem auto 1rem;
  }

  .button-top-rated {
    padding: 0.5rem 0.8rem;
    width: 6.5rem;
    font-size: 0.69rem;
    cursor: pointer;
  }

  .button-top-rated:hover {
    border: 1px solid var(--darkRed);
  }

  .button-top-rated-enabled {
    padding: 0.5rem 1rem;
    width: 6.5rem;
    font-size: 0.69rem;
    cursor: pointer;
  }

  .not-found-container > h3,
  .no-results-container > h3 {
    font-size: x-large;
  }

  .not-found-container > img,
  .no-results-container > img {
    width: 50%;
  }
}
