* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.logo-pic {
  display: block;
  height: 2rem;
  margin: 2rem auto 1.5rem;
}

@media screen and (min-width: 1024px) {
  .logo-pic {
    height: 3rem;
    margin: 4rem auto 2rem auto;
  }
}