* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --white: rgb(248, 248, 248);
  --lowGrey: rgb(240, 240, 240);
  --lightGrey: rgb(230, 230, 230);
  --mediumGrey: rgb(190, 190, 190);
  --darkGrey: rgb(130, 130, 130);
  --darkRed: rgb(194, 1, 20);
}

body {
  background-color: var(--lowGrey);
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Header */
.logo-pic {
  display: block;
  height: 2rem;
  margin: 2rem auto 1.5rem;
}

/* Search Page */
.results-number {
  text-align: center;
  margin: 1.5rem;
  color: var(--darkGrey);
  font-style: italic;
}

@media screen and (min-width: 1024px) {
  .logo-pic {
    height: 3rem;
    margin: 3.5rem auto 2rem auto;
  }

  .results-number {
    margin: 1.8rem 1.5rem;
  }
}
